.column {
  padding: 8%;
  width: 50%;
  float: left;
  color: rgb(50, 49, 49);
}

.column p {
  color: slategray;
  font-weight: lighter;
}

.centered {
  text-align: left;
}

.theme {
  text-align: center;
  font-size: large;
  font-family: Helvetica;
}

.img1 {
  padding: 5px;
  width: 50%;
  height: auto;
  margin: auto;
  display: block;
  float: left;
}

.img2 {
  padding: 5px;
  width: 50%;
  height: auto;
  margin: auto;
  display: block;
  float: left;
}

.img3 {
  padding: 5px;
  width: 50%;
  height: auto;
  margin: auto;
  display: block;
  float: left;
}